body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #21dd2b;
    color: white;
    padding: 10px 0;
}

header .contact-info {
    text-align: center;
    font-size: 14px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #21dd2b;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}
.eventos {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}
.eventos img {
    width: 30%;
    height: 300px;
    text-align: center;
    
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #21dd2b;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
li {
    padding: 10px;
    background-color: #21dd2b;
    margin: 5px 0;
}
li:hover {
    background-color: rgb(45, 129, 24);
    color:  rgb(57, 141, 238);
    cursor: pointer;
        }